page-login {
    .content{
        background-color: #FFFFFF;
        position: relative;
        .login_title{
            padding: 50px 0 0 36px;
            color: #333333;
        }
        .login_input{
            padding: 10px 36px;
            position: relative;
            .phone_number{
                border-bottom: 1px solid #d8d8d8;
                input{
                    width: calc(65% - 8px);
                }
            }
            .ver_cord{
                border-bottom: 1px solid #d8d8d8;
                margin-top: 20px;
            }
            .ver_btn{
                position: absolute;
                color: #22d027;
                top: 21px;
                right: 50px;
                font-size: 14px;
                background-color: rgba(0,0,0,0);
            }
            .help_text{
                height: 60px;
                line-height: 60px;
                text-align: right;
                color: #cdcdcd;
            }
            .sub_btn{
                background-color: #49c464;
                margin-top: 20px;
            }
        }
    }
}
