<ion-header>
  <ion-navbar hideBackButton>
  	<ion-buttons left>
      <button ion-button (click)="backbtn()">
        <ion-icon class="customIcon" name="arrow-back"></ion-icon>
        	&nbsp;返回
      </button>
   </ion-buttons>
    <ion-title>
            常见问题
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="content">
	<div class="header_banner">
		<img src="../../assets/imgs/consultant_2.png"/>
		<p>在线客服</p>
		<p>工作时间：9:00-20:00</p>
		<p>我们竭诚为您服务，如遇客服排队，请您耐心等待</p>
	</div>
	<div class="problem_list">
		<div class="one_list_item" *ngFor="let listdata of maindata; index as i;" data="listdata.data = false">
			<span class="one_list_title" (click)="listdata.data = !listdata.data">{{listdata.listtitle}}<ion-icon class="downup_icon" name="ios-arrow-down-outline" [hidden]="listdata.data"></ion-icon><ion-icon class="downup_icon" name="ios-arrow-up-outline" [hidden]="!listdata.data"></ion-icon></span>
			<div class="two_list_item" [hidden]="!listdata.data" *ngFor="let itemdata of listdata.listlist; index as i;" data="itemdata.data = false">
				<span class="two_list_title" (click)="itemdata.data = !itemdata.data" [ngClass]="{border_bottom : !itemdata.data}">{{itemdata.itemtitle}}</span>
				<div class="list_inner_text" [hidden]="!itemdata.data">
					{{itemdata.iteminnertext}}
				</div>
			</div>
		</div>
	</div>
</ion-content>
